@charset "utf-8";
@import url("reset.css");

div{
    background-image: url(./banner.jpg);
    box-sizing: border-box;
    width: 1200px;
    height: 350px;
    padding-left: 650px;
    padding-top: 200px;
}

h1{
    background-color: antiquewhite;

}


