@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;}
	
body{
	background-color:#E3E1C6;}
.wrapper{
	width:1200px;
	background-color:#FFF;
	margin:0 auto;}

.header{
	border-top:#066 20px solid;
	border-bottom:#066 20px solid;}

.header img{
	vertical-align:bottom;}



