* {
    padding: 0;
    margin: 0;
}

div {
    background-image: url(./banner.png);
    width: 1000px;
    height: 150px;
    margin: auto;
    position: relative;
}

h1 {
    position: absolute;
    left: 55px;
    top: 9px;
}

h1 img {}

ul {
    position: absolute;
    right: 26px;
    top: 20px;

}

li {
    float: left;
    list-style: none;
}


li a {
    box-sizing: border-box;
    background-repeat: no-repeat;
    display: block;
    margin-right: 16px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    padding-top: 96px;
}

li a:hover {}

.icon1 a {
    background-image: url(./icon1_1.png);
}

.icon2 a {
    background-image: url(./icon2_1.png);
}

.icon3 a {
    background-image: url(./icon3_1.png);
}

.icon4 a {
    background-image: url(./icon4_1.png);
}

.icon5 a {
    background-image: url(./icon5_1.png);
}

.icon1 a:hover {
    background-image: url(./icon1_2.png);
}

.icon2 a:hover {
    background-image: url(./icon2_2.png);
}

.icon3 a:hover {
    background-image: url(./icon3_2.png);
}

.icon4 a:hover {
    background-image: url(./icon4_2.png);
}

.icon5 a:hover {
    background-image: url(./icon5_2.png);
}