@charset "utf-8";
@import url("reset.css");

div {
    background-image: url(./banner.jpg);
    box-sizing: border-box;
    width: 1200px;
    height: 350px;
    padding: 130px 100px 0 650px
}

h1 {
    background-color: antiquewhite;
    margin-bottom: 26px;
    width: 360px;

}

p{
    background-color: azure;
}