.box{
    background-image: url(./box.png);
    width: 300px;
    height: 600px;
    margin: 0 auto;
}
a{
    display: block;
    background-image: url(./btn01.png);
    width: 300px;
    height: 60px;
    text-indent: 85px;
    line-height: 60px;
}
a:hover{
    background-image: url(./btn02.png);
}