* {
    padding: 0;
    margin: 0;
}

.box {
    background-color: #ffe771;
    width: 1000px;
    height: 600px;
    margin: auto;
    writing-mode: vertical-rl; /*直行*/
}

.box p {
    margin-block-end: 20px; /*與後段距離*/
    
}

strong{
    color: azure;
    font-weight: normal;
}

em{
     color: aquamarine;
    text-orientation: upright;
}