@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E3E1C6;
}

.wrapper {
	background-color: #FFF;
}

.header {
	border-top: #066 20px solid;
	border-bottom: #066 20px solid;
}

.header img {
	vertical-align: bottom;
	width: 100%;
	height: auto;
}

/*所有display:flex的指令要下在母盒,
  預設不換行,要自行設定*/
  /*flex-wrap: wrap;*/
  /*flex-direction: column;*/
  /*height: 100vh;*/
  /*justify-content: center;*/
  /*align-items:center*/
.box {
	display: flex;
	
}

/*設定所有盒子(b1,b2,b3)寬度相同
  calc(100%/3)計算*/
  /*width: 30%;*/
  /*padding: 20px;*/
  /*box-sizing: border-box;*/
.box div {
	width: 300px;
	
}

.b1 {
	background-color: gainsboro;
	/*align-self: flex-end;*/
	flex: 1 1 400px;
}

.b2 {
	background-color: aliceblue;
	flex: 2 0 400px;
}

.b3 {
	background-color: lightblue;
	flex: 0 0 400px;	
}

