*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    padding-left: 80px;
}
.header ul{}
.header li{
    float: left;
    list-style: none;
}
.header li a{
    margin-right: 20px;
    text-decoration: none;
    color: #6e6e6e;
}
.header li a:hover{}

.banner{
    position: relative;
    color: white;
}
.banner img{
    vertical-align: bottom;
    width: 100%;
    height: auto;
}
.banner h1{
    position: absolute;
    top: 60px;
    left: 130px;
    font-size: 5em;
}
.banner p{
    position: absolute;
    top: 350px;
    left: 120px;
    line-height: 23px;
}
.banner .email{
    color: grey;
    position: absolute;
    top: 500px;
    left: 200px;
    background-color: white;
    padding: 9.8px 48.5px 9.8px 10px;

}
.banner a{
    color: ghostwhite;
    display: inline-block;
    background-color: #343131;
    text-align: center;
    padding: 11.2px 30px;
    text-decoration: none;
    position: absolute;
    top: 500px;
    left: 470px;
}

.nav{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3% 10%;
}
.nav h1{
    font-size: 2.5em;
    margin-bottom: 15px;
}
.nav h3{
    margin-bottom: 20px;
}
.nav p{
    margin-bottom: 30px;
    line-height: 26px;
}
.nav img{
    width: 50px;
}
.nav div{
    padding: 0 20px;
    height: 360px;
}
.nav .a {
    background-color: #f75f28;
}
.nav .b{
    background-color: red;
}
.nav .c{
    background-color: black;
}
.nav .d{
    background-color: gray;
}

.contenta{
    background-color: gainsboro;
    text-align: center;
    padding: 50px;
}
.contenta h1{
    color: #f75f28;
    margin-bottom: 20px;
    font-size: 2.5em;
}
.contenta p{
    margin-bottom: 30px;
    line-height: 26px;
}
.contenta a{
    color: white;
    display: inline-block;
    background-color: #f75f28;
    text-decoration: none;
    padding: 15px;
    width: 200px;
}

.contentb{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    place-content: center;
    padding: 5%;
}
.contentb .a{
    height: 500px;
}
.contentb .b{
    background-color: gainsboro;
    text-align: center;
    padding: 130px 50px;
}
.contentb .b a{
    text-decoration: none;
    color: #6e6e6e;
    display: inline-block;
    padding: 5px;
    border-bottom: #6e6e6e 3px solid;
}
.contentb .c{
    height: 500px;
}
.contentb .d{
    background-color: white;
    text-align: center;
    padding: 85px 50px;
}
.contentb .d h2{
    margin-bottom: 20px;
}
.contentb .d p{
    line-height: 30px;
}
.contentb .d a{
    text-decoration: none;
    color: #6e6e6e;
    display: inline-block;
    padding: 5px;
    border-bottom: #6e6e6e 3px solid;
}
.contentb .e{
    height: 500px;
}
.contentb .f{
    background-color: white;
    text-align: center;
    padding: 85px 50px;
}
.contentb .f h2{
    margin-bottom: 20px;
}
.contentb .f p{
    line-height: 30px;
}
.contentb .f a{
    text-decoration: none;
    color: #6e6e6e;
    display: inline-block;
    padding: 5px;
    border-bottom: #6e6e6e 3px solid;
}


.contentc{
    background-image: url(./images/handbg.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.contentc .box{
    background-color: white;
    width: 350px;
    height: 350px;
    margin-right: 2%;
    margin-top: 300px;
    text-align: center;
    padding: 20px;
    border: #c3c2c2 2px solid;
}
.contentc .box h3{
    margin-bottom: 20px;
}
.contentc .box p{
    line-height: 30px;
}
.ct{
    text-align: center;
    padding:0 20px 30px 20px;
}
span{
    color: rgb(120, 168, 215);
}

.footer{
    background-color: #343131;
    color: white;
    text-align: center;
    padding: 35px 0 20px 0;
}
.footer .n{
    text-decoration: none;
    color: white;
}
.footer a{
    color: rgb(120, 168, 215);
}

@media screen and (max-width:1200px) and (min-width:769px) {
    .banner h1 {
            position: absolute;
            top: 60px;
            left: 130px;
            font-size: 5em;
    }
    
    .banner p {
        position: absolute;
        top: 350px;
        left: 120px;
        line-height: 23px;
    }

    .banner .email {
        color: grey;
        position: absolute;
        top: 500px;
        left: 200px;
        background-color: white;
        padding: 9.8px 48.5px 9.8px 10px;

    }

    .banner a {
        color: ghostwhite;
        display: inline-block;
        background-color: #343131;
        text-align: center;
        padding: 11.2px 30px;
        text-decoration: none;
        position: absolute;
        top: 500px;
        left: 470px;
    }
    .nav {
            grid-template-columns: auto auto;
    }
    .contentb {
        grid-template-columns: 400px 400px;
    }
}

@media screen and (max-width:768px) {
    .banner h1 {
        position: absolute;
        top: 5px;
        left: 50px;
        font-size: 2em;
    }

    .banner p {
        position: absolute;
        top: 120px;
        left: 50px;
        font-size: 0.5em;
        line-height: 23px;
    }

    .banner .email {
        position: absolute;
        top: 180px;
        left: 60px;
        padding: 3px 10px;
    }

    .banner a {
        padding: 5px 10px;
        position: absolute;
        top: 180px;
        left: 185px;
    }
    .nav {
        grid-template-columns: auto;
    }
    .contentb {
        grid-template-columns: 500px;
    }
    .contentc {
        display: grid;
    }
    .contentc .box {
        margin-top: 100px;
        padding: 20px;
    }
}