* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffc963;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    width: 1200px;
}

.header {
    background-image: url(./banner.png);
    height: 250px;
    position: relative;
}

.header h1 {}

.header h1 img {
    position: absolute;
    top: 60px;
    left: 300px;
}

.box{
    display: flex;
}
.nav {
    width: 200px;
    background-color: blanchedalmond;
}

.nav ul {}

.nav li {
    list-style: none;
}

.nav li a {}

.nav li a:hover {}

.content {
    width: 1000px;
    background-color: yellow;
}

.content h3 {}

.content p {}

.content p img {}

.footer {}

.footer h2 {}

.footer h4 {}